body {
    background-color: black;
    color: white;
}


h1 {
    color: red;
}

h2:hover {
    color: antiquewhite;
}

#fototime {
    border: 10px solid salmon;
}


   
.column {
    float: left;
    width: 33.33%;
  }